extends layout

block content
  div(id='header')
    h1= title
    p Welcome to #{title}
  div(id='nav')
    ul(class='menu')
      a(href='/')
        li menu1
      a(href='/pemilihan')
        li menu2
      a(href='/formlogin')
        li menu3
      a(href='/calon-ketua')
        li menu4
  div(id='content') 
    h3 Informasi Calon Ketua
    div(class='foto-calon') FOTO
    div(class='ket-calon')
      p Nama : calon ketua alumni 
      p Alamat : Puruih
      p Angkatan : Tahun 2016
    div(class='vmm') 
      div(class='vm') Visi : Bla...bla...bla...bla...
      div(class='vm') Misi :
        ul
          li Bla...bla...bla...bla...
          li Bla...bla...bla...bla...
          li Bla...bla...bla...bla...
          li Bla...bla...bla...bla...
      div(class='vm') Moto : Bla...bla...bla...bla...
    div(class='cls')