extends layout

block content
  div(id='header')
    h1= title
    p Welcome to #{title}
  div(id='nav')
    ul(class='menu')
      a(href='/')
        li menu1
      a(href='/pemilihan')
        li menu2
      a(href='/formlogin')
        li menu3
      a(href='/calon-ketua')
        li menu4
  div(id='content')
    div(class='form-login') 
      div(class='form-group')
        label Username :
        input(type='text' name='txtuser' class='form-control' placeholder='Username')
      div(class='form-group')    
        label Password :
        input(type='password' name='txtpass' class='form-control' placeholder='Password')
      div(class='form-group')
        button(class='btn btn-primary btn-sm' type='submit' name='submit') Log in 
    div(class='content') 
      h3 Tata cara pemilihan Ketua Alumni
      ul 
        li Bla bla bla ..................
        li Bla bla bla ..................
        li Bla bla bla ..................
        li Bla bla bla ..................
        li Bla bla bla ..................
    div(class='cls')
