extends layout

block content
  div(id='header')
    h1= title
    p Welcome to #{title}
  div(id='nav')
    ul(class='menu')
      a(href='/')
        li menu1
      a(href='/pemilihan')
        li menu2
      a(href='/formlogin')
        li menu3
      a(href='/calon-ketua')
        li menu4
  div(id='content') 
    p index
    div(class='cls')