extends layout

block content
  div(id='header')
    h1= title
    p Welcome to #{title}
  div(id='nav')
    ul(class='menu')
      a(href='/')
        li menu1
      a(href='/pemilihan')
        li menu2
      a(href='/formlogin')
        li menu3
      a(href='/calon-ketua')
        li menu4
  div(id='content')
    h3 Pemilihan Ketua Alumni
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    div(class='kandidat fl')
      h4 Nama Kandidat
      div(class='foto-kandidat') FOTO
    table(class='tombol-pilihan' center)
      tr
        td 
          div(class='form-group fl')
            button(class='btn btn-primary btn-sm' type='submit' name='submit') Pilih 
        td
          div(class='form-group fl')
            button(class='btn btn-primary btn-sm' type='submit' name='submit') Abstain 
    div(class='cls')
