*{
	margin:0px;
}
body {
	padding: 0px 15%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color:#000000;
}
#header{
	padding: 15px;
	background-color: #202020;
	color: #F0F0F0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#nav{
	margin-bottom: 10px;
	background-color: #F0F0F0;
	color: #202020;
	min-height: 57px;
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu{
	margin-right: 10px;
	float: right;
}
.menu li{
	display: inline-block;
	padding: 20px 10px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}
.menu li:hover{
	background-color: #202020;
	color: #F0F0F0;
}
#content{
	padding: 20px 30px;
	background-color: #202020;
	color: #F0F0F0;
	min-height: 410px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kandidat {
	width: 220px;
	float: left;
	text-align: center;
}
.foto-kandidat{
	width: 85px;
	margin: 0px 67.5px;
	border: 1px solid white;
	height: 115px;
}
.foto-calon{
	width: 113px;
	border: 1px solid white;
	height: 170px;
	float: left;
	text-align: center;
}
.ket-calon{
	width: 250px;
	padding: 10px;
	height: 170px;
	float: left;
}
.vmm{
	float: left;
	width: 58%;
	padding: 10px;
}
.vm{
	overflow: auto;
	border: 1px solid white;
	width: 100%;
	padding: 10px;
}
.ket-calon p{
	font-weight: 700;
	font-size: 13pt;
}
.tombol-pilihan td:nth-child(even) {
    text-align:left;
    width: 50%;
}
.tombol-pilihan td:nth-child(odd) {
	text-align:right;
	width: 50%;
}
.tombol-pilihan{
	width: 100%;
}
.tombol-pilihan td{
	padding:10px;
}
.form-login{
	width: 30%;
	float: left;
	margin-right: 25px;
	padding:15px;
}
.content{
	float: left;
	padding:15px;
	width: 67%;
}
.content, h3{
	text-align: center;
}
.content, ul{
	text-align: justify;
}
.cls{
	clear: both;
}
#footer{
	clear: both;
	padding: 15px;
	background-color: #F0F0F0;
	color: #202020;
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
